html,
body {
    margin: 0;
    padding: 0;
}



nav {
    z-index: 1;
    position: fixed;
    background-color: #FFC017;
    padding: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Medium {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.fakelink {
    margin-right: 20%;
    justify-items: end;
}

.fakelink span {
    margin: 20px;
}

.Buttongetstarted {
    border-radius: 50px;
    border-color: black;
    background-color: black;
    color: #FFFFFF;
}

#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
}

.MMM {
    display: flex;
    justify-items: space-between;
    background-color: #FFC017;
    padding-left: 18%;
    height: 480px;
    font-size: 25px;
    border-bottom: 1px solid black;

}

.MMM >.Curiosita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 80%;
}



.Curiosita {
    margin-left: 100px;
}

.Curiosita h1 {
    font-size: 80px;
}

header {
    border-bottom: 2px solid black;
}

.trending {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.Medium p {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.contenitoretrending {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contenitorecose {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.numeri {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    font-weight: bold;
    color: #7a7979;
}

.numeretti {
    margin: 0;
}

.immaginicontenitore{
    display: flex;
}
.immaginicontenitore img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.immaginicontenitore p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}

.infocontenitore {
    flex-grow: 1;
}

.infocontenitore b {
    font-size: 16px;
    color: #000;
}

.orari {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #999;
}

.orari p {
    margin: 0;
}